{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Required</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_landing.css' %}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            
            {% if 'success' not in message.tags %}
                <div class="alert-box">
                     {{ message }}
                </div>
            {% endif %}

        {% endfor %}
    {% endif %}
    <div class="login-card">
        <div style="font-size: 40px; margin-bottom: 20px;">🚗</div>
        
        <h1>Carpooling</h1>
        <p>Please login to access the booking system.</p>

        <a href="{% provider_login_url 'microsoft' %}" class="btn-microsoft">
            <span class="icon">🪟</span> Sign in with Microsoft
        </a>
    </div>

</body>
</html>